:root{
    --background-color: rgba(240, 240, 240);
    --primary-color: rgba( 40, 40, 40);
    --calentar-color: rgba(255, 159, 0, 1);
}


.rubik-font {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

html, body{
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

nav{
    position: fixed;
    top: 0;
    border: 1px solid black;
    width: 100%;
    padding: 10px;
    background-color: var(--primary-color);
    color: aliceblue;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

}

#menu-nav-btn{
    margin-right: 20px;
    background-color: transparent;
    color: aliceblue;
    font-size: 25px;
    border: none;
}

#menu-nav-btn:hover{
    color: gray;
}

h1{
    display: inline-block;
    width: auto;
    font-size: 30px;
    
}

#main-menu{
    padding-top: 130px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100vw;
    
}

.menu-item{
    margin: 10px;
    padding-top: 10px;
    width: 30%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid lightgray;

}

.menu-item-img{
    width: 320px;
    height: 200px;
    border-radius: 5px;
}

/* Estilos para los diálogos */
dialog {
    width: 80%;
    max-width: 600px;
    background-color: white;
    border: none;
    position: relative;
    top: 180px;
    left: 50%;
    max-height: 400px;
    margin: 100px auto;
    padding: 20px;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    overflow: scroll;
    z-index: 1000;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

/* Botón de cierre del modal */
button.close {
    background-color: transparent;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button.close:hover {
    background-color: #f0f0f0;
}

.steps-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilos para cada paso */
.step {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.step-number {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    background-color: #f2f2f2;
    padding: 5px 10px;
    border-radius: 50%;
    margin-bottom: 10px;
    display: inline-block;
}

.step-description {
    font-size: 16px;
    margin-top: 10px;
    color: #555;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 10px;
    padding: 0 20px;
    background-color: whitesmoke;
    border-radius: 10px;
}

/* Estilos para las imágenes de los pasos */
.step-img {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}

/* Colores específicos según acción */
.step.cortar, .cortar{
    background-color: rgba(255, 0, 0, 0.5);
}

.step.untar, .untar{
    background-color: rgba(255, 242, 0, 0.719);
}

.step.cocinar, .cocinar{
    background-color: rgba(34, 139, 34, 0.5);
}

.step.prender, .prender{
    background-color: rgba(0, 0, 255, 0.5);
}

.calentar {
    background-color: var(--calentar-color);
}

.step.calentar-parrilla, .calentar-parrilla{
    background-color: var(--calentar-color);
    opacity: 0.8;
    background-image:  linear-gradient(135deg, #feffff 25%, transparent 25%), linear-gradient(225deg, #feffff 25%, transparent 25%), linear-gradient(45deg, #feffff 25%, transparent 25%), linear-gradient(315deg, #feffff 25%, rgba(255, 159, 0, 1) 25%);
    background-position:  10px 0, 10px 0, 0 0, 0 0;
    background-size: 20px 20px;
    background-repeat: repeat;
    color: aliceblue;
}

.step.calentar-micro, .calentar-micro{
    background-color: var(--calentar-color);
    opacity: 0.8;
    background: repeating-linear-gradient( 45deg, #feffff, #feffff 5px, rgba(255, 159, 0, 1) 5px, rgba(255, 159, 0, 1) 25px );
}

.step.calentar-air, .calentar-air{
    background-color: var(--calentar-color);
    opacity: 0.8;
    background-image: radial-gradient(#feffff 0.5px, rgba(255, 159, 0, 1) 0.5px);
    background-size: 10px 10px;
}


#color-code-nav{
    text-decoration: none;
    border: solid 1px lightgray;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    background-color: white;
    border-radius: 10px;
    margin: 10px auto;

}

.color-menu-item{
    margin: 2px;
    width: 10em;
    display: block;
    text-align: center;
    text-decoration: none;
    list-style: none;
    padding: 5px;
    border-radius: 5px;
    color: #333;
    
}

@media screen and (max-width: 480px){


    .menu-item{
        width: 40%;
        margin: 5pxk;
    }

    .menu-item-img{
        width: 85%;
        height: 100px;
    }

    h2{
        font-size: 16px;
    }

    dialog {
        width: 90%;
        padding: 15px;
    }

    .step-img {
        width: 250px;
        height: 160px;
    }

    .step-description {
        font-size: 14px;
    }

    .step-number {
        font-size: 20px;
    }

    dialog{
        top: 300px;
        max-height: 500px;
    }

    #color-code-nav{
        justify-content: flex-start;
        width: 80%;
    }


}

@media screen and (max-width: 768px){

    .menu-item-img{
        width: 85%;
        height: 150px;
    }

    dialog{
        top: 250px;
        max-height: 300px;
    }
}